*{
    margin: 0;
    padding: 0;
}

/* ------------------------------------ */

.container{
    width: 2000px;
    margin: 0 auto;
}
.container_first{
    height: 72px;
    background-color: #194277;
}
.cookies_text{
    padding-left: 745px;
    padding-top: 22px;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}
.cookies_btn{
    margin-left: 51px;
    width: 112px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #194277;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
}

/* ------------------------------------ */

.container_second{
    height: 800px;
    background: linear-gradient(45deg, #3695ff 13%, #469dff 13%, #469dff 27%, #4098fe 27%, #4098fe 43%, #3c8fff 43%, #3c8fff 60%, #3681fe 60%);
}
.menu{
    margin-left: 1544px;
    padding-top: 31px;
}
.menu_img_1 + .menu_ul {display:none}
.menu_img_1:hover + .menu_ul {display:block}
.circle{
    width: 141px;
    height: 141px;
    border-radius: 100px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 10px #599bff, 0 0 0 20px #4791fe;
    background-color: #ffffff;
    margin-left: 929px; 
    margin-top: 90px;
}
h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    text-align: center;
    margin-top: 76px;
}
.text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    margin-top: 42px;
}
.secret_text{
    display: none;
}
.container_second_btn{
    width: 204px;
    height: 55px;
    border-radius: 28px;
    background-color: #ffffff;
    margin-left: 899px;
    margin-top: 65px;
    color: #3695ff;
    font-size: 16px;
    font-weight: 700; 
}
.menu_img_2{
    margin-top: 30px;
    margin-left: 991px;
}

/* ------------------------------------ */

.container_third{
    height: 300px;
    text-align: center;
}
.container_third h2{
    color: #3677fd;
    font-size: 50px;
    font-weight: 300;
    line-height: 35.12px;
    margin: 70px;
}
.container_third p{
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 70px;
}

/* ------------------------------------ */

.container_fourth{
    text-align: center;
    height: 1145px;
    background: #f1f8ff;
    overflow: hidden;
}
.container_fourth h2 {
    color: #3677fd;
    font-family: Lato;
    font-size: 50px;
    font-weight: 300;
    line-height: 35.12px;
    padding-top: 100px;
}
.container_fourth h3{
    color: #3677fd;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin: 100px 0 30px 0;
}
.f_box p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
.f_box{
    width: 401px;
    height: 340px;
    float: left;
    margin-top: 113px; 
}
.first{
    margin: 113px 0 0 335px ;
}
.second{
    margin: 113px 63px 0 63px;
}

/* ------------------------------------ */

.